.review-card {
  background: #0000007a;
  width: 30rem;
  color: white;
  padding: 0.5rem 0.8rem;
  box-sizing: border-box;
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .name {
    }
    .score {
    }
  }
  .comment {
  }
}
