@import "../../../assets/styles/mediaQueries";
@import "../../../assets/styles/colors";

.main-movie-details {
  .movie-title {
    height: 190px;
    font-size: 3rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;

    overflow: hidden;
    text-overflow: ellipsis;
  }
  .movie-info {
    margin-left: 4rem;
    color: white;
    @include mq-1 {
      margin: 0;
    }
    .movie-title {
      display: block;
      @include mq-1 {
        display: none;
      }
    }
    .run-time {
      color: white;
      font-weight: bold;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      font-size: 0.8rem;
      svg {
        height: 0.8rem;
        width: 0.8rem;
        fill: white;
        margin-right: 0.2rem;
      }
    }
    .ratings-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 0.5rem;
      & > * {
        margin-right: 0.5rem;
      }
      .rating {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 0.8rem;
        svg {
          fill: $yellow-primary;
          height: 0.8rem;
          width: 0.8rem;
          margin-right: 0.2rem;
        }
        color: $yellow-primary;
      }
    }

    .movie-overview {
      margin: 0;
      overflow: auto;
      max-height: 8rem;
      &::-webkit-scrollbar {
        height: 0.5em;
        width: 8px;
      }
      &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.26);
        border-radius: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba(199, 181, 181, 0.445);
        border-radius: 10px;
        mix-blend-mode: overlay;
      }
    }
  }
}
