@import "../../../../src/assets/styles/mediaQueries";
.movie-match-percentage {
  background-color: grey;
  padding: 0.2rem 0.8rem;
  border-radius: 3px;
  color-interpolation-filters: #222222;
  position: absolute;
  z-index: 1;
  font-weight: bold;
  font-size: 0.8rem;
  transform: translate(7rem, 1rem);
  @include mq-1 {
    display: none;
  }

  &.rating-bad {
    $red: rgb(245, 47, 47);
    background: $red;
    color: white;
    box-shadow: 0 0 5px 1px rgba($red, 0.5);
  }
  &.rating-average {
    $yellow: rgb(245, 182, 47);
    background: $yellow;
    color: #222222;
    box-shadow: 0 0 5px 1px rgba($yellow, 0.5);
  }
  &.rating-good {
    $green: rgb(76, 224, 56);
    background: $green;
    color: #252525;
    box-shadow: 0 0 5px 1px rgba($green, 0.5);
  }
}
