.review-input {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin-bottom: 1rem;
  .button-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .remove-review {
    }
    .submit-btn {
      margin-left: 1rem;
    }
  }

  .comment-input {
    margin-top: 0.5rem;
  }
}
