.profile-page {
    color: white;
    margin: 0 10%;
    .user-control-container {
        display: flex;

        .btn-secondary {
            svg {
                fill: white;
            }
        }

        .icon-button {
            margin-right: 0.5rem;
            .button-name {
                font-size: 0.8rem;
            }
            .button-icon svg {
                height: 0.8rem;
                width: 0.8rem;
            }
        }
    }
}