.home-page {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .search-bar-logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -15rem;
  }
  .ranomd-movie-link {
    margin-top: 1.5rem;
  }
  .recommendation-link {
    text-decoration: none;
    .recommendation-btn {
      position: relative;
      transform: translateY(50%);
      padding: 0.6rem 0.8rem;
      border-radius: 50rem;
      // z-index: 1;
    }
  }
}
