@import "../../../assets/styles/colors";
$sidebar-width: 20rem;
$header-hight: 3.5rem;
$arrow-size: 2rem;
$transition: all ease-in-out 0.4s;

.sidebar-wrapper {
    max-width: 100%;
    overflow-x: hidden;
    display: relative;
}

.side-bar {
    background-color: green;
    width: $sidebar-width;
    right: 0;
    position: absolute;
    height: 100%;
    z-index: 901;
    transition: $transition;
    transform: translateX(100%);
    .sidebar-header {
        font-family: 'Open Sans', sans-serif;
        background-color: $yellow-primary;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: $header-hight;
        .sidebar-title {
        }
        .arrow-icon {
            height: $arrow-size;
            width: $arrow-size;
            position: absolute;
            left: 1rem;
            cursor: pointer;
            transition: $transition;
            transform: rotate(180deg);
        }
    }
    .sidebar-content {
        box-sizing: border-box;
        padding: 0.5rem 1rem;
        display: flex;
        flex-direction: column;
    }
    &.show {
        transform: translateX(0);
        .arrow-icon {
            transform: rotate(0);
        }
    }

}