.movie-reviews {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  .review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
