@import "../assets/styles/globalStyles";

body, html {
    margin: 0%;
    height: 100%;
    background: #0A0909;

}

#root {
    height: 100%;
}

.App {
    background: #0A0909;
    height: 100%;
    overflow-x: hidden;
    position: relative;
    background-image: url("../assets/images/icon-bg.svg");
    background-size: auto;
    // background-position: 50% 50%;

    .page-container {
        height: calc(100% - 6rem);
        margin-top: 6rem;
    }
}