@import "../assets/styles/globalStyles";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body,
html {
  margin: 0%;
  height: 100%;
  background: #0a0909;
  font-family: "Open Sans", sans-serif;
}

#root {
  height: 100%;
}

.App {
  background: #0a0909;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  background-image: url("../assets/images/icon-bg.svg");
  background-size: auto;

  .page-container {
    height: calc(100% - 6rem);
    margin-top: 6rem;
  }
}
