@import "../../../../assets/styles/colors";

.remove-movie-card-wrapper {
    position: relative;
    overflow: hidden;
    .remove {
        position: absolute;
        z-index: 1;
        background-color: #222222;
        bottom: 0.5rem;
        right: 0.5rem;
        font-size: 0.8rem;
        padding: 0.2rem 0.4rem;
        border-radius: 2px;
        color: $yellow-primary;
        border: none;
        outline: none;
        transition: .2s ease-in-out 1s;
        transform: translateX(150%);
        cursor: pointer;
    }
    &:hover {
        .remove {
            transform: translateX(0);
            transition: .25s ease-in-out 0s; 
            &:hover {
                background-color: #31302e;
            }
        }
    }
}