@import "../../assets/styles/colors";
.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // margin-top: 10rem;
  .broken-movie-icon {
    margin-top: 10%;
    fill: $yellow-primary;
    height: 4rem;
    width: 4rem;
  }
  .error-message {
    color: rgb(209, 209, 209);
    font-weight: bold;
  }
}
